<div>
  <table>
    <thead>
      <tr>
        <th colspan="1">Nom</th>
        <th colspan="1">Etat</th>
        <th colspan="1">Véhicules</th>
        <th colspan="1">Places</th>
        <th colspan="1">Horaires</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ spot.name.value }}</td>
        <td>{{ spot.status.value }}</td>
        <td>{{ spot.allowedVehicleType.value }}</td>
        <td>{{ spot.availableSpotNumber.value }}</td>
        <td>{{ spot.status.metadata.timestamp.value }}</td>
        <td>
          <button>❤️</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
